/* General */
.container-fluid {
  /* margin-top: 20px; */
  background-color: #212121;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-left: 0 !important
}

.col {
  width: 20%
}

.nav-chat-container {
  width: 100%;
  align-items: center;
}


/* Nav-Bar */

.navbar-brand {
  background-color: #5f899a;
  padding: 1rem;
}

.navbar {
  height: 10%
}

/* Side Bar */

.side-bar {
  width:20%;
  background-color: #171717
}

/* Chat Container */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
}



/* Dialogue / Messages */

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  text-align: right;
}

.message.chatgpt {
  text-align: left;
}

/* Text Input */

.input-container {
  display: flex;
  align-items: center;
  
}

.input-container textarea {
  flex: 1;
  margin-right: 10px;
}







