.container {
  margin-top: 20px;
  max-width: 600px;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  width: 100%
  
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #5f899a;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  background-color: #1e1f20;
  text-align: right;
}

.message.chatgpt {
  background-color: #1e1f20;
  text-align: left;
}

.input-container {
  display: flex;
  align-items: center;
  
}

.input-container textarea {
  flex: 1;
  margin-right: 10px;
}

.col {
  width: 20%
}

.navbar-brand {
  background-color: #5f899a;
  padding: 1rem;
}

.nav-chat-container {
  width: 100%
}

.form-control {
  background-color: #070707;
}

