/* General */
.container-fluid {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
  padding-left: 0 !important
}


.nav-chat-container {
  width: 100%;
}


/* Nav-Bar */

.navbar-brand {
  background-color: #5f899a;
  padding: 1rem;
}

.navbar {
  height: 10%
}

/* Side Bar */


#side-bar-container{
  min-height:100%;
  width: fit-content;
  background-color: #171717;
}

/* #button-and-side-bar-container {
  width:50%;
  height:100%
} */

#button-container {
  width: fit-content;
  height: fit-content;
}

#side-bar-button {
  height: fit-content;
  width: 100%;
}

#side-bar {
  height:100%;
  /* width: 100%; */
  
}

#side-bar-mobile {
  background-color: #171717;
  width: 30%;

}

#login-side-bar {
  background-color: #171717;
  width: 30%;

}




/* Chat Container */

.chat-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 10px;
  width: 100%;
}



/* Dialogue / Messages */

.conversations {
  text-align: left;
  font-size: smaller;
}

.messages {
  /* flex: 1; */
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.user {
  text-align: left;
  background-color: #2f2f2f;
  border-radius:32px;
  width: fit-content;
  max-width:50%;
  align-self: flex-end;
}

.message.chatgpt {
  text-align: left;
  width: 70%
}

/* Text Input */

.input-container {
  display: flex;
  align-items: center;
  width: 80%
  
}

.input-container textarea {
  flex: 1;
  margin-right: 10px;
}

/* Media Queries */

/* Media Queries */
@media (max-width: 768px) {
  
#side-bar-mobile{
 width:70%;
}


}





